body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 0;
    background-color: rgb(241, 245, 245);
  }
  
  header {
    background-color: #333;
    padding: 5px;
    color: #fff;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    position: relative;
    background-color: black;
    border-radius: 2px;
    overflow: hidden;
  }
  nav ul li::before{
      content: '';
      position: absolute;
      left: 0;
      top:0;
      bottom: 0;
      width: 5px;
      background-color: rgb(225, 143, 21);
      transition: 0.3s all ease-in-out;
  }
  nav li:hover::before{
    border-radius: 0 50px 50px 0;
    width: 110%;

  }
  nav ul li a {
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }


  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 30px;
}